.contents
  .sidebar
    .sidebar__left
    .sidebar__right
    .sidebar__top
    .sidebar__group
    .sidebar__space
    .sidebar__message
    .sidebar__bottom
  .header
    .header__top
      %input{type: "submit", value: "Edit", style: "height:40px;width:70px"}
    %h1 チャットグループが作成されました。
    .header-left
      .header-left__user name
      .header-left__icon
        .fa.fa-cog
        .fa.fa-edit
    .header__space
    .header__group
    .header__bottom
    .header__member
  .main-content
    .main-content__space
    .main-content__member
    .main-content__datetime
    .main-content__center
    .main-content__message
    .main-content__bottom
    .main-content__left
    .main-content__right
  .wrapper
    .form
      .form__left
      .form__right
      %textarea{name: "form-box", cols: "150", row: "1", placeholder: "type a message"}
      %input{type: "submit", value: "Send", style: "height:50px;width:90px"}
      .form__icon
        .fa.fa-image
