.contents
  .sidebar
    .sidebar__group サンプル
    .sidebar__message よろしくお願いします
  .header
    .header__top
      %input{type: "submit", value: "Edit"}
    %h1 チャットグループが作成されました。
    .header-left
      .header-left__user name
      .header-left__icon
        .fa.fa-cog
        .fa.fa-edit
    .header__group サンプル
    .header__member Member
  .main-content
    .main-content__member name
    .main-content__datetime 2017-05-13 13:31:53
    .main-content__message 初めまして
  .wrapper
    .form
      %textarea{name: "form-box", cols: "150", row: "1", placeholder: "type a message"}
      %input{type: "submit", value: "Send"}
      .form__icon
        .fa.fa-image
