%h1 チャットグループが作成されました。
.sidebar
  .sidebar_top
    .sidebar_top_user name
    .sidebar_top_icon
      .fa.fa-cog
      .fa.fa-edit
  .sidebar_bottom
    .sidebar_bottom_group グループ名
    .sidebar_bottom_message グループメッセージ
.content
  .content_top
    %input{type: "submit", value: "Edit"}
    .content_top_group sampleグループ
    .content_top_member aaaaaaaaaaaa
  .content_main
    .content_main_member ruousukemaehira
    .content_main_message なるほど
    .content_main_datetime 2016/05/05 32:23:32
  .form
    %textarea{name: "form-box", cols: "100", row: "1", placeholder: "type a message"}
    .form_botton
    %input{type: "submit", value: "Send"}
    .form_icon
      .fa.fa-image
