$migi:right;
$hidari:left;
$kotei:fixed;
$border:solid;
$siro:white;
$blue:#38AEF0;
$black:#434A54;
$size_zero:0;
$size_ten:10px;
$size_fifteen:15px;
$size_sixteen:16px;
$size_twenty:20px;
$size_thirty_five:35px;
$size_forty:40px;
$size_fifty:50px;
$size_hundred:100px;
$size_hundred_forty:140px;
$size_hundred_fifty:150px;
$size_hundred_eighteen_six:186px;
$size_two_hundred:200px;
$size_three_hundred:300px;
$size_three_hundred_forty:380px;
$size_half:50%;
$size_max:100%;
