$size_zero:0;
$size_max:100%;
$size_ten:10px;
$size_twenty:12px;
$size_fifteen:15px;
$size_sixteen:16px;
$size_twenty:20px;
$size_thirtyfive:35px;
$size_forty:40px;
$size_fifity:50px;
$size_seventy:70px;
$size_eighty:80px;
$size_hundred:100px;
$size_two_hundred:200px;
$size_three_hundred:300px;
$migi:right;
$hidari:left;
$kotei:fixed;
$zettai:absolute;
$siro:white;


.header {
        width: 800px;
        height: $size_seventy;
        padding-top: $size_quarter;
        float: $migi;
        position: $kotei;
        top: $size_zero;
        right: $size_zero;
        h1{
                background-color: #38AEF0;
                width: $size_twenty;
                color: $siro
                position: $kotei;
                top: $size_zero;
                left: $size_zero;
                text-align: center;
          }
          .header-space-top {
                  height: $size_thirtyfive;
                  padding-left: $size_eighty;
                  position: $kotei;
                  top: 24px;
                  left: $size_three_hundred;
                  width: $size_two_hundred;
          }
          .header-group {
              height: $size_twenty;
              font-size: $size_twenty;
              color: #333333;
              padding-top: $size_thirtyfive;
              position: $kotei;
              top: $size_twenty;
              left: 340px;
              width: $size_hundred;
          }
          .header-space-center {
                      height: $size_fifteen;
                      position: $kotei;
                      top: $size_eighty;
                      left: $size_three_hundred;
                      width: $size_two_hundred;
          }
          .header-member {
                height: $size_fifteen;
                font-size: $size_twenty;
                color: #999999;
                width: $size_hundred;
          }
}
.header-left {
              background-color: #253141;
              width: $size_three_hundred;
              height: $size_seventy;
              float: $hidari;
              padding-top: $size_twenty;
              position: absolute;
              top: $size_twenty;
              left: $size_zero;
              .header-left-user {
                  font-size: $size_sixteen;
                  font-weight: bold;
                  color: #FFFFFF;
                  padding-left: $size_twenty;
                  width: $size_eighty;
              }
                    .fa-cog {
                    color: $siro;
                    position: $kotei;
                    top: $size_fifity;
                    left: 260px;
                    }
                    .fa-edit {
                    color: $siro;
                    position: $kotei;
                    top: $size_fifity;
                    left: 240px;
                    }
}
.sidebar {
          width: $size_three_hundred;
          height: 850px;
          float: $hidari;
          margin-top: $size_seventy;
          padding-top: $size_twenty;
          position: $kotei;
          top: $size_forty;
          left: $size_zero;
          background-color: #2f3e51;
          .sidebar-space-top {
                    height: $size_twenty;
          }
          .sidebar-group {
                font-size: $size_fifteen;
                color: #FFFFFF;
                height: $size_sixteen;
          }
          .sidebar-space-center {
                      height: 5px;
          }
          .sidebar-message {
                  font-size: 11px;
                  color: #FFFFFF;
                  height: $size_twenty;
          }
          .sidebar-space-bottom {
                      height: $size_forty;
          }
}
.sidebar-left {
              height: $size_max;
              width: $size_twenty;
              position: $kotei;
              top: $size_zero;
              left: $size_zero;

}

.sidebar-right {
                height: size_max;
                width: $size_twenty;
                position: $kotei;
                top: $size_zero;
                left: 280px;
}


.content {
          background-color: #eeeeee;
          width: calc(100vw - $size_three_hundred);
          height: 640px;
          position: $kotei;
          top: 120px;
          right: $size_zero;
          .content-space-bottom {
                      height: 46px;
                      width: $size_two_hundred;
          }
          .content-member-name {
                      height: $size_ten;
                      padding-left: $size_forty;
                      width: $size_two_hundred;
          }
          .content-member-space {
                      height: $size_ten;
                      width: $size_two_hundred;
          }
          .content-message-space {
                      height: $size_forty;
                      width: $size_two_hundred;
          }
}
.content-left {
              height: $size_max;
              width: $size_forty;
              float: $migi;
              position: $kotei;
              top: $size_zero;
              left: $size_three_hundred;
}
.content-right {
              height: $size_max;
              width: $size_forty;
              position: $kotei;
              top: $size_zero;
              right: $size_zero;
}
.wrapper {
          min-width: 960px;
        .footer {
        float: $migi;
        position: $kotei;
        bottom: $size_zero;
        right: $size_zero;
        width: $size_max;
        }
                .fa-image {
                color: black;
                position: $kotei;
                bottom: $size_fifity;
                right: 150px;
                }
}












